@import 'tailwindcss';

body {
    margin: 0;
    background-color: #030712; /* gray-950 */
    color: #f9fafb; /* gray-50 */
}

:root {
    --background: #030712; /* gray-950 */
    --surface: #111827; /* gray-900 */
    --surface-hover: #1f2937; /* gray-800 */

    --foreground: #f9fafb; /* gray-50 */
    --muted: #9ca3af; /* gray-400 */

    --primary: #5cbdb9; /* teal-600 */
    --primary-hover: #4b9b98; /* teal-700 */
    --primary-light: #14b8a6; /* teal-500 */

    --border-primary: #72bcb9;
}
